@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0091ff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.upper_bar {
    width: auto;
    height: 7vh;
    margin: 2vh;
    display: flex;
    align-items: center;
}

.main_body_container {
    display: flex;
    flex-direction: row;
}

.navbar {
    width: 10%;
    margin: 2vh;
    height: 83vh;
    backdrop-filter: blur(18px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar #active_button {
    width: 0.4vw;
    height: 7vh;
    background: linear-gradient(145deg, #6f8cff, #5b2fff);
    border-radius: 100px;
    position: absolute;
    transition: all 0.3s ease;
    right: 17%;
    top: 33%;
}

.home {
    background: linear-gradient(145deg, #6f8cff, #5b2fff);
}

.search {
    background: linear-gradient(145deg, #7de0ff, #4a8dff);
}

.libary {
    background: linear-gradient(145deg, #ff7b7b, #ff3a3a);
}

.nav_icon button {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
}

.nav_icon {
    margin: 5vh 2vh 2vh 2vh;
    width: 5vw;
    height: 7vh;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.middle_part {
    margin: 2vh;
    height: 68.7vh;
    backdrop-filter: blur(18px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.right_most_part {
    width: 20%;
    margin: 2vh;
    height: 83vh;
    backdrop-filter: blur(18px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.center_container {
    width: 67%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.play_bar {
    height: 10vh;
    margin: 2vh;
    backdrop-filter: blur(18px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.upper_bar .logo {
    margin-left: 5vh;
}

.center_container .middle_part h1 {
    color: white;
    font-size: 32px;
    margin: 2vh;
}

.Trending_songs_card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
}

.Trending_songs_card {
    border-radius: 10px;
    backdrop-filter: blur(18px);
    padding: 10px;
    margin-right: 3vh;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.3);
    height: 30vh;
    width: 20vh;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.Trending_songs_card img {
    width: 100%;
    border-radius: 10px;
}

#results {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#results .song {
    color: white;
    margin: 8px;
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    display: flex;
    cursor: pointer;
}

.main_body_container .center_container #searchbox .input_bar {
    display: flex;
    width: 100%;
    justify-content: center;
}

#results .song img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
}

.Trending_songs_card .artist {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 8px;
}

.Trending_song {
    overflow-x: auto;
    overflow-y: hidden;
}

.Artist_card {
    color: white;
    border-radius: 100px;
    width: 20vh;
    height: 20vh;
    text-align: center;
    backdrop-filter: blur(18px);
}

.Artist_card img {
    border-radius: 100px;
    margin-right: 3vh;
    width: 20vh;
    height: 20vh;
    text-align: center;
    border: 5px solid rgba(255, 255, 255, 0.3);
}

#songs {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin: 20px;
}


.popular_artist {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 30px;
    padding: 10px;
}

.Artist_card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#artists {
    display: flex;
    gap: 20px;
    margin: 20px 20px 40px 20px;
}

.right_most_part h1 {
    color: white;
    font-size: 25px;
    margin: 2vh;
}

.Trending_songs_card:hover .play_button_of_trending_card {
    transform: scale(1.1);
    transform: translateY(0%);
    border: none;
}

.play_button_of_trending_card {
    background: #00bfff;
    border: none;
    padding: 8px 11px;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 1vh;
    transform: translateY(250%);
    transition: all 0.5s ease;
}

.play_button_of_trending_card img {
    width: 20px;
}

.play_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.upper_middle_part_play_bar button {
    background: transparent;
    border: none;
    padding: 8px 11px;
    border-radius: 100px;
    cursor: pointer;
}

.upper_middle_part_play_bar {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.lower_middle_part_play_bar {
    display: flex;
    justify-content: center;
    color: white;
    gap: 20px;
}

.middle_part_play_bar {
    display: flex;
    flex-direction: column;
}

.sound {
    display: flex;
}

.percentage_bar_of_sound {
    width: 8vw;
    height: 5px;
    background-color: #ffffff;
    border-radius: 2.5px;
    margin-top: 10px;
    position: relative;
    margin-left: 2vh;
}

.song_id {
    color: white;
    font-size: 14px;
}

.song_name {
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
}

.song_name.scroll {
    animation: scrollText 8s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

.percentage_bar_of_song {
    width: 300px;
    height: 6px;
    background: #444;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.percentage_bar_of_song::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--progress, 0%);
    background: #0099ff;
    border-radius: 5px;
}

.percentage_bar_of_song::before {
    content: "";
    position: absolute;
    top: 50%;
    left: var(--progress, 0%);
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background: #0099ff;
    border-radius: 50%;
}

.percentage_bar_of_song:hover::before {
    transform: translate(-50%, -50%) scale(1.2);
}

#volume {
    width: 120px;
}

.recent_item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px;
    color: white;
    cursor: pointer;
}

.recent_item img {
    border-radius: 2px;
}

.right_most_part {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.condition_of_sound {
    margin-right: 2vh;
}

#searchbox {
    position: absolute;
    top: 12%;
    left: 10%;
    width: 50vw;
    height: 50vh;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(18px);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    display: none;
}

#searchbox input {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 20px 0 0 20px;
    background: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    color: white;
}

#searchbox button {
    width: 40px;
    height: 42px;
    border: none;
    background: transparent;
    cursor: pointer;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0 20px 20px 0;
    padding-right: 30px;
}