* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/temp-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.upper_bar {
    width: auto;
    height: 7vh;
    margin: 2vh;
    display: flex;
    align-items: center;
}

.main_body_container {
    display: flex;
    flex-direction: row;
}

.navbar {
    width: 10%;
    margin: 2vh;
    height: 83vh;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home:hover,
.search:hover,
.libary:hover,
.language:hover {
    transform: scale(1.1);
}

.home {
    background: linear-gradient(145deg, #6f8cff, #5b2fff);
}

.search {
    background: linear-gradient(145deg, #7de0ff, #4a8dff);
}

.libary {
    background: linear-gradient(145deg, #ff7b7b, #ff3a3a);
}

.language {
    background: linear-gradient(145deg, #5de0c7, #2fb7a2);
}

.nav_icon button{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
}
.nav_icon {
    margin: 5vh 2vh 2vh 2vh;
    width: 4vw;
    height: 7vh;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.middle_part {
    margin: 2vh;
    height: 68.7vh;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.right_most_part {
    width: 20%;
    margin: 2vh;
    height: 83vh;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.center_container {
    width: 67%;
    display: flex;
    flex-direction: column;
}

.play_bar {
    height: 10vh;
    margin: 2vh;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.upper_bar .logo {
    margin-left: 5vh;
}

.upper_bar .docs {
    margin-left: auto;
}

.upper_bar .docs a,
.upper_bar .about a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin: 2vh;

}